  <!--Footer-->
  <footer class="page-footer elegant-color center-on-small-only">

    <!--Footer Links-->
    <div class="container-fluid">
      <div class="row">

        <div class="col-md-3">
          <ul>
            <li><a href="http://www.antoineimmo.be/fr/">
              <img src="https://firebasestorage.googleapis.com/v0/b/bcbh-4b8a4.appspot.com/o/sponsors%2Fantoine_immo.png?alt=media&token=e6bd43a4-8514-410b-8788-20fcb8f74694"
                   alt="Antoine Immo"
                   width="60"
                   class="img-thumbnail">
            </a></li>
            <hr>
            <li>Génie privés et publics Michel GROOTEN (HOTTON)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="http://stephanpremane.be/">
              <img src="https://firebasestorage.googleapis.com/v0/b/bcbh-4b8a4.appspot.com/o/sponsors%2Fpremane.png?alt=media&token=2912df6c-c929-4ba4-8953-12605b32a20b"
                   alt="Premane"
                   width="55"
                   class="img-thumbnail">
            </a></li>
            <hr>
            <li><a href="#!">Sablage Stéphan PREMANE (TOHOGNE)</a></li>
          </ul>
        </div>


        <div class="col-md-3">
          <ul>
            <li><a href="http://wallux.com/parcs-et-jardins-nicolas-laval-hotton">
              <img src="https://firebasestorage.googleapis.com/v0/b/bcbh-4b8a4.appspot.com/o/sponsors%2Flaval.jpg?alt=media&token=7ab2197e-a582-4c65-bc81-84759ce1314f"
                   alt="Laval"
                   width="165"
                   class="img-thumbnail">
            </a></li>
            <hr>
            <li>Entreprise de chape JADOUL (HAMPTEAU)</li>
          </ul>
        </div>
        <div class="col-md-3">
          <ul>
            <li><a href="#!">
              <img src="https://firebasestorage.googleapis.com/v0/b/bcbh-4b8a4.appspot.com/o/sponsors%2Focta.jpg?alt=media&token=23a19854-a753-49f1-8497-5860db7a7a45"
                   alt="Octa"
                   width="150"
                   class="img-thumbnail">
            </a></li>
            <hr>
            <li><a href="#!">Entreprise de maçonnerie Didier VERVOORT</a></li>
            <li>Peinture Francis DE GROOTE (BARVAUX)</li>
          </ul>
        </div>


      </div>
    </div>
    <!--/.Footer Links-->

    <!--Copyright-->
    <div class="footer-copyright">
      <div class="container-fluid">
        <span class="white-text">B</span><span class="red-text">oxing</span>
        <span class="white-text">C</span><span class="red-text">lub</span>
        <span class="white-text">B</span><span class="red-text">arvaux</span>
        <span class="white-text">H</span><span class="red-text">amoir</span>
        <a class="nav-link float-right" routerLink="/admin">(admin)</a>
      </div>
    </div>
    <!--/.Copyright-->

  </footer>
  <!--/.Footer-->
