<div class="container">
  <hr>
  <hr>
  <div class="row">
  <div class="col-md-2">
    <h5>Administration du site web</h5>
    <button type="button" class="btn btn-danger red dark-1" routerLink="gestion-competiteurs">Gestion des <br> compétiteurs</button>
    <br>
    <button type="button" class="btn btn-danger red dark-1" routerLink="gestion-news">Gestion des <br> news</button>
    <br>
    <button type="button" class="btn btn-danger red dark-1" routerLink="gestion-photos">Gestion des <br> photos</button>
    <br>
    <button type="button" class="btn btn-danger red dark-1" routerLink="gestion-responsables">Gestion des <br> responsables</button>
  </div>
  <div class="col-md-9">
    <router-outlet></router-outlet>
  </div>
</div>
  <hr>
  <hr>
</div>
